<div class= "container">
   <% if @shop.errors.any? %>
    <div class= "error_explanation">
      <p><%= @shop.errors.count %>件の入力の誤りがあります</p>
      <div class= "error_messages">
        <% @shop.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </div>
    </div>
  <% end %>
  <h1>お店情報編集ページ</h1>
  <%= form_for(@shop) do |f| %>
    <h4>名前</h4>
    <%= f.text_field :name, placeholder: "店舗名" %>
    <h4>地域</h4>
    <%= f.text_field :area, placeholder: "地域" %>
    <h4>郵便番号</h4>
    <%= f.text_field :order_postal_code, placeholder: "郵便番号" %>
    <h4>住所</h4>
    <%= f.text_field :address, placeholder: "住所" %>
    <h4>電話番号</h4>
    <%= f.text_field :phone_number, placeholder: "電話番号" %>
    <h4>営業時間</h4>
    <%= f.time_field :open_time, placeholder: "営業開始時間" %>
    ~
    <%= f.time_field :close_time, placeholder: "営業終了時間" %>
    <h4>平均予算</h4>
    <%= f.number_field :min_average_price, min:1 %>
    ~
    <%= f.number_field :max_average_price, min:1 %>
    <%= f.submit "変更を保存する" %>
  <% end %>
<div>