<div class= "container">
  <h1>新しくお店を登録</h1>
  <%= form_for(@shop) do |f| %>
    <h4>名前</h4>
    <%= f.text_field :name, placeholder: "店舗名" %>
    <h4>地域</h4>
    <%= f.text_field :area, placeholder: "地域" %>
    <h4>郵便番号</h4>
    <%= f.text_field :order_postal_code, placeholder: "郵便番号" %>
    <h4>住所</h4>
    <%= f.text_field :address, placeholder: "住所" %>
    <h4>電話番号</h4>
    <%= f.text_field :phone_number, placeholder: "電話番号" %>
    <h4>営業時間</h4>
    <%= f.time_field :open_time, placeholder: "営業開始時間" %>
    ~
    <%= f.time_field :close_time, placeholder: "営業終了時間" %>
    <h4>平均予算</h4>
    <%= f.number_field :min_average_price, min:1 %>
    ~
    <%= f.number_field :max_average_price, min:1 %>
    <%= f.submit "登録する" %>
  <% end %>
</div>
