<div class = "following_index follow_user_index_content">
  <h4>フォロー中</h4>
  <% if following_users.count < 1 %>
    <p>フォロー中のユーザーはいません</p>
  <% else %>
    <table class= "table table-dark table-striped follow_user_index_table">
      <tr>
        <th>image</th>
        <th>name</th>
        <th></th>
      </tr>
      <% following_users.each do |user| %>
        <tr class = "following_user follow_people">
          <td>
            <%= link_to user_path(user) do %>
              <%= attachment_image_tag user, :user_image, size: "40x40", format: "jpeg", fallback: asset_path("default-icon-img.jpeg"), class: "rounded-circle" %>
            <% end %>
          </td>
          <td><%= user.name %></td>
          <td><%= link_to "詳細", user_path(user) %></td>
        </tr>
      <% end %>
      <%= paginate following_users, param_name: "following_pagina", class: "paginate", remote: true %>
    </table>
  <% end %>
</div>