<div class= "container">
  <% if @user.errors.any? %>
    <div class= "error_explanation">
      <p><%= @user.errors.count %>件の入力の誤りがあります</p>
      <div class= "error_messages">
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class= "user_edit_section">
    <h1>プロフィール編集</h1>
    <%= form_for(@user) do |f| %>
      <div class= "row user_edit_form_section">
        <div class= "col-4 user_icon_edit">
          <%= attachment_image_tag @user, :user_image, size: "120x120", format: "jpeg", fallback: "default-icon-img.jpeg", class: "rounded-circle" %>
          <label>アイコン画像</label>
          <%= f.attachment_field :user_image %>
          <%= link_to "退会する",user_path(@user), method: :delete, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger" %>
        </div>

        <div class= "col-8 user_text_form_edit_section">
          <table class= "table table-bordered table-dark">
            <tr>
              <th class="table-active">名前</th>
              <td><%= f.text_field :name,placeholder: "名前" %></td>
            </tr>
            <tr>
              <th class="table-active">紹介文</th>
              <td><%= f.text_area :introduction, placeholder: "プロフィール(200文字以内)",rows: "7" %></td>
            </tr>
          </table>
          <%= f.submit "更新する", class: "btn btn-info user_edit_form_submit" %>
        </div>
      </div>
    <% end %>
  </div>
</div>