<div class= "container">
  <h1>ユーザー詳細</h1>
  <div class= "row">
    <%= attachment_image_tag @user, :user_image, size: "40x40",format: "jpeg",fallback: "default-icon-img.jpeg" %>
    <%= @user.name %>
    <p><%= link_to "フォロー #{@user.follower.count}", {controller: :users, action: :following} %></p>
    <p><%= link_to "フォロワー #{@user.followed.count}",{controller: :users, action: :follower} %></p>
    <% unless @user == current_user %>
      <%= render "users/follow_link", user: @user %>
    <% end %>
    <%= link_to "編集する", edit_user_path(@user) %>
    <%= link_to "退会する",user_path(@user), method: :delete, "data-confirm" => "本当に退会しますか？" %>
  </div>
  <div class= "row">
    <%= render "posts/index", posts: @user.posts %>
  </div>
<div>