<div class= "container">
  <div class= "row contents user_show_top_contents">
    <div class= "col-10">
      <%= render "users/user_top_info", user: @user %>
    </div>

    <div class= "col-2 user_show_shop_recommendations">
      <%= render "shop_recommendations/index", shop_recommendations: @user.shop_recommendations %>
    </div>
  </div>

  <div class= "tab_menu_contents">
    <ul class= "tab_menu tab_menu_items">
      <li>|<a href= "#user_info_posts" class= "active">投稿一覧</a>|</li>
      <li><a href= "#user_info_favorites">お気に入り(<%= @user.favorites.count %>)</a>|</li>
    </ul>
  </div>

  <div class= "row user_show_bottom_contents">
    <div class= "tab_contents col-10">
      <div id= "user_following" class= "tab tab1">
        <%= render "relationships/following", following_users: @following_users %>
      </div>

      <div id= "user_followed" class= "tab tab2">
        <%= render "relationships/follower", follower_users: @follower_users %>
      </div>

      <div id= "user_info_posts" class= "tab tab3">
        <h1>snap shots</h1>
        <% if @user_posts.count < 1 %>
          <p class= "user_show_tab_empty_message">まだ投稿がありません</p>
        <% else %>
          <div id= "user_show_posts_index_section">
            <%= render "posts/index", posts: @user_posts %>
          </div>
        <% end %>
      </div>

      <div id= "user_info_favorites" class= "tab tab4">
        <%= render "favorites/index", favorites: @favorites %>
      </div>
    </div>

    <div class= "col-2 user_post_area_index">
      <h5>ユーザー投稿<br>
          地域一覧</h5>
    </div>
  </div>
</div>