<div class= "container">
  <h1>ユーザー詳細</h1>
  <div class= "row">
    <div class="col-2">
      <%= attachment_image_tag @user, :user_image, size: "40x40",format: "jpeg",fallback: "default-icon-img.jpeg", class: "rounded-circle" %>
      <%= @user.name %>
    </div>
    <div class="col-2" id="follow_counts">
     <%= render "relationships/follow_people_num", user: @user %>
    </div>

    <div id= "follow_button">
      <%= render "relationships/follow_link", user: @user %>
    </div>

    <div class= "user_introduction">
      <%= @user.introduction %>
    </div>

    <% if @user == current_user %>
      <div class="col-2">
        <%= link_to "編集する", edit_user_path(@user) %>
        <%= link_to "退会する",user_path(@user), method: :delete, "data-confirm" => "本当に退会しますか？" %>
      </div>
    <% end %>
    <div class= "col-2">
      <%= render "shop_recommendations/index", shop_recommendations: @user.shop_recommendations %>
    </div>
  </div>
  <div class= "row">
    <%= render "posts/index", posts: @user.posts %>
  </div>
<div>