<div class= "post_index">
  <h1>snap shots</h1>
  <div class= "post_items">
    <% if posts.count > 0 %>
      <% posts.each do |post| %>
        <div class= "post_item">
          <%= link_to post_path(post) do %>
            <%= attachment_image_tag post, :image, size: "300x300", format: "jpeg", class: "mt-2" %>
          <% end %>
          <p><%= post.shop.area %>　　<%= post.shop.name %></p>
        </div>
      <% end %>
      <%= paginate posts, param_name: "posts_pagina", class: "paginate", remote: true %>
    <% else %>
      <h4>まずは気になる人をフォローしてみましょう！</h4>
    <% end %>
  </div>
</div>