<div class= "post_form_content">
  <% if post.errors.any? %>
    <div class= "error_explanation">
      <p><%= post.errors.count %>件の入力の誤りがあります</p>
      <div class= "error_messages">
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= form_with(model: post) do |f| %>
    <div class= "row post_form_section">
      <div class= "col-4 post_form_image_section">
        <div id= "post_image_preview">
          <% if post.image.present? %>
            <%= attachment_image_tag post, :image, size: "300x300", format: "jpeg", class: "rounded" %>
          <% end %>
        </div>
        <label>写真</label>
        <%= f.attachment_field :image, direct: true %>
      </div>

      <div class= "col-8 post_text_form_section_items">
        <table class= "table table-bordered bg-light">
          <tr>
            <th>コメント</th>
            <td><%= f.text_area :comment, placeholder: "コメントを入力(200文字以内)",rows: "7" %></td>
          </tr>
          <tr>
            <th>評価</th>
            <td><%= f.select :rating,[1,2,3,4,5] %></td>
          </tr>
        </table>
        <%= f.hidden_field :shop_id, :value => @post.shop_id %>
        <%= f.hidden_field :area_id, :value => @post.area_id %>
        <%= f.submit "投稿する",class: "btn btn-info post_form_submit" %>
      </div>
    </div>
  <% end %>
</div>