<div class = "container">
  <h1>投稿編集</h1>
  <%= form_with(model: [@shop, @post]) do |f| %>
    <h4>コメント</h4>
    <%= f.text_area :comment, placeholder: "コメントを入力" %>
    <h4>写真</h4>
    <%= f.attachment_field :image %>
    <h4>評価</h4>
    <%= f.number_field :rating, max:5, min: 1 %>
    <%= f.submit "変更する" %>
  <% end %>
</div>
