<div class= "container">
   <% if @post.errors.any? %>
    <div class= "error_explanation">
      <p><%= @post.errors.count %>件の入力の誤りがあります</p>
      <div class= "error_messages">
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </div>
    </div>
  <% end %>
  <h1>新規投稿</h1>
  <%= form_with(model: @post) do |f| %>
    <h3>コメント</h3>
    <%= f.text_area :comment, placeholder: "コメントを入力" %>
    <h3>写真</h3>
    <%= f.attachment_field :image %>
    <h3>評価</h3>
    <%= f.number_field :rating, max:5, min:1 %>
    <%= f.hidden_field :shop_id, :value => @post.shop_id %>
    <%= f.submit "投稿する" %>
  <% end %>
</div>