<div class= "container">
  <h1>投稿詳細</h1>
  <table>
    <tr>
      <th>店舗名</th>
      <td><%= link_to @post.shop.name, shop_path(@post.shop_id) %></td>
    </tr>
    <tr>
      <th>感想</th>
      <td><%= @post.comment %></td>
    </tr>
    <tr>
      <th>評価</th>
      <td><%= @post.rating %></td>
    </tr>
  </table>
  <%= attachment_image_tag @post, :image, size: "300x300", format: "jpeg" %>

  <div id= "favorites_button">
    <%= render partial: "favorites/favorite", locals: {post: @post} %>
  </div>

  <p><%= @post.post_comments.count %>件のコメント</p>
  <% @post.post_comments.each do |post_comment| %>
    <div class = "post_comments">
      <%= link_to user_path(post_comment.user) do %>
        <%= attachment_image_tag post_comment.user, :user_image, size: "40x40", format: "jpeg", fallback: "default-icon-img.jpeg",class: "rounded-circle" %>
      <% end %>
      <%= post_comment.user.name %>
      <%= post_comment.comment %>
    </div>
  <% end %>

  <%= form_for [@post, @post_comment] do |f| %>
    <%= f.text_area :comment, placeholder: "コメントを入力" %>
    <%= f.submit "送信" %>
  <% end %>

  <% if @post.user == current_user %>
    <p><%= link_to "編集する", edit_post_path(@post.shop_id,@post) %></p>
    <p><%= link_to "削除する", post_path(@post.shop_id,@post), method: :delete, "data-confirm" => "本当に削除してよろしいですか？" %></p>
  <% end %>
</div>
