<div class= "container">
  <h1>投稿詳細</h1>
  <table>
    <tr>
      <th>店舗名</th>
      <td><%= link_to @post.shop.name, shop_path(@post.shop_id) %></td>
    </tr>
    <tr>
      <th>感想</th>
      <td><%= @post.comment %></td>
    </tr>
    <tr>
      <th>評価</th>
      <td><%= @post.rating %></td>
    </tr>
  </table>
  <%= attachment_image_tag @post, :image, size: "300x300", format: "jpeg" %>

  <div id= "favorites_button">
    <%= render partial: "favorites/favorite", locals: {post: @post} %>
  </div>

  <div id= "post_comments">
    <%= render "post_comments/post_comment", post: @post, post_comment: @post_comment %>
  </div>

  <% if @post.user == current_user %>
    <p><%= link_to "編集する", edit_post_path(@post.shop_id,@post) %></p>
    <p><%= link_to "削除する", post_path(@post.shop_id,@post), method: :delete, "data-confirm" => "本当に削除してよろしいですか？" %></p>
  <% end %>
</div>
