<div class= "container">
  <div class= "post_head_items">
    <h1>投稿詳細</h1>
    <h4>店舗名</h4>
    <%= link_to @post.shop.name, shop_path(@post.shop_id) %>
    <div id= "favorites_button">
      <%= render "favorites/favorite", post: @post %>
    </div>

  <ul id= "tab_menu">
    <li><a href= "#tab1" class= "active">投稿</a></li>
    <li><a href= "#tab2">店舗情報</a></li>
    <li><a href= "#tab3">コメント</a></li>
  </ul>

  <div id= "tab_contents">
    <div id= "tab1" class= "tab">
      <%= attachment_image_tag @post, :image, size: "300x300", format: "jpeg" %>
      <table>
        <tr>
          <th>感想</th>
          <td><%= @post.comment %></td>
        </tr>
        <tr>
          <th>評価</th>
          <td><%= @post.rating %></td>
        </tr>
      </table>
      <% if @post.user == current_user %>
        <p><%= link_to "投稿を編集する", edit_post_path(@post.shop_id,@post) %></p>
        <p><%= link_to "投稿を削除する", post_path(@post.shop_id,@post), method: :delete, "data-confirm" => "本当に削除してよろしいですか？" %></p>
      <% end %>
    </div>

    <div id= "tab2" class= "post_shop_show tab">
      <%= render "shops/show", shop: @post.shop %>
    </div>

    <div id= "tab3" class= "post_comments tab">
      <%= render "post_comments/post_comment", post: @post, post_comment: @post_comment %>
    </div>
  </div>
</div>
