<!DOCTYPE html>
<html>
  <head>
    <title>Huuste</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md" style="background-color: orange;">
        <%= link_to "Huuste", root_path %>
        <div class ="search">
          <%= form_tag(shops_path, :method => "get") do %>
            <%= text_field_tag :search,"",placeholder: "お店の名前" %>
            <%= submit_tag "検索", :name => nil %>
          <% end %>
        </div>
        <div class="collapse navbar-collapse" id="Navber">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav_item"><%= link_to "Huusteとは？", about_path %></li>
            <% if user_signed_in? %>
              <li class= "nav-item"><%= link_to "マイページ", user_path(current_user) %></li>
              <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li class="nav_item"><%= link_to "新規登録", new_user_registration_path %></li>
              <li class="nav_item"><%= link_to "ログイン", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <p class="text-center">Copyright © Huuste</p>
    </footer>
  </body>
</html>
